@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial;
  background-color: #383838;
  width: 100%;
  height: 1800px; }
  body #page-type {
    margin-top: 70px;
    padding-left: 15%;
    padding-right: 15%; }
  body .text-style-a {
    padding: 10px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: transparent; }
  body .text-style-a:hover {
    backface-visibility: hidden;
    border-color: #6c757d;
    transition: 250ms ease-out;
    width: 70%;
    border-bottom: 2px solid #fff100;
    color: #fff100; }
  body #text-editor-general {
    margin-top: 25px; }
    body #text-editor-general #text-editor-top #text-editor-nav {
      background-color: #fff200;
      height: 42px;
      border-radius: 10px; }
      body #text-editor-general #text-editor-top #text-editor-nav ul {
        list-style: none;
        padding-top: 10px; }
      body #text-editor-general #text-editor-top #text-editor-nav li {
        float: left; }
    body #text-editor-general .input-text-stil:focus {
      box-shadow: 0 0 0 0.2rem #6c757d54; }
    body #text-editor-general .btn {
      margin: -0.95em;
      margin-left: 10px;
      margin-right: 0.01px;
      border-radius: 9px;
      background-color: transparent;
      margin-top: 0.05em;
      text-decoration: none;
      text-transform: uppercase; }
    body #text-editor-general .text-button:after,
    body #text-editor-general .text-button:before {
      backface-visibility: hidden;
      border: 1px solid rgba(253, 240, 9, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0; }
    body #text-editor-general .text-button:hover:after,
    body #text-editor-general .text-button:hover:before {
      backface-visibility: hidden;
      border-color: #6c757d;
      transition: width 350ms ease-in-out;
      width: 70%; }
    body #text-editor-general .text-button:hover:before {
      bottom: auto;
      top: 0;
      width: 70%; }
    body #text-editor-general .text-editor-nav-left {
      float: left; }
    body #text-editor-general .text-editor-nav-right {
      float: right;
      margin-right: 10px; }
    body #text-editor-general #text-editor-panel {
      height: 650px; }
      body #text-editor-general #text-editor-panel #text-editor-panel-left {
        margin: 10px;
        float: left;
        width: 300px;
        height: 90%;
        padding: 10px;
        overflow: auto;
        padding-bottom: 25px; }
        body #text-editor-general #text-editor-panel #text-editor-panel-left #menu-text-textalan {
          margin-top: 15px; }
          body #text-editor-general #text-editor-panel #text-editor-panel-left #menu-text-textalan .text-left-menu {
            background-color: whitesmoke;
            margin-top: 10px;
            height: 35px;
            width: 250px;
            font-size: 17px;
            padding: 4px; }
          body #text-editor-general #text-editor-panel #text-editor-panel-left #menu-text-textalan .text-left-menu:active {
            border-color: #fdf009; }
          body #text-editor-general #text-editor-panel #text-editor-panel-left #menu-text-textalan .text-left-menu:hover {
            border-color: #fdf009; }
          body #text-editor-general #text-editor-panel #text-editor-panel-left #menu-text-textalan .text-left-menu::selection {
            border-color: #fdf009; }
      body #text-editor-general #text-editor-panel #text-editor-panel-right {
        padding: 20px;
        margin: 10px;
        position: initial;
        float: right;
        width: 65%;
        overflow: auto; }
      body #text-editor-general #text-editor-panel #menu-img {
        display: none; }
      body #text-editor-general #text-editor-panel #menu-fazlasi {
        display: none; }
      body #text-editor-general #text-editor-panel #menu-icon {
        display: none; }
  body .resize-drag {
    padding: 5px;
    overflow: auto;
    z-index: 100;
    position: absolute;
    background-color: transparent;
    cursor: move;
    border: 0;
    transform: translate(30px, 34.0156px);
    box-sizing: border-box; }
  body .resize-container {
    border: 1px dashed #0000005c;
    width: 650px;
    height: 380px;
    display: inline-block; }
  body .tap-target {
    width: 100px;
    height: 150px;
    padding: 1px;
    margin: 10px auto;
    border-radius: 100%;
    font-size: 1.125em;
    text-align: center;
    color: #fff;
    background-color: #29e;
    cursor: pointer;
    touch-action: none;
    transition: all 0.3s; }
  body .menu-baslik {
    font-size: 25px;
    margin: 8px;
    font-weight: 500;
    color: #fdf009;
    top: 0;
    margin-bottom: 30px; }
  body #menu-left-qr {
    display: none; }
  body .menu-text-button {
    color: #fff200 !important;
    border: 2px solid #fff200;
    font-weight: 600;
    margin-top: 15px;
    background-color: transparent;
    font-size: 17px;
    display: inline-grid;
    padding: 6%; }
    body .menu-text-button i {
      font-size: 30px;
      padding: 10px; }
  body .menu-text-button:hover {
    background-color: #fff200;
    color: black !important;
    text-decoration: none; }
  body #sekiledit {
    background-color: #888888;
    display: none;
    border: 1px solid #000;
    padding-left: 2px;
    padding: 5px; }
  body .right-menu {
    position: absolute;
    z-index: 10; }
  body #anakısım {
    margin: 30px;
    border: 1px solid #000;
    position: relative; }
  body #anakısım-body {
    background: white;
    position: absolute;
    z-index: 0;
    border: 1px dashed #000000;
    margin-top: 150px; }
  body #kaybol {
    background-color: #888888;
    display: none; }
    body #kaybol .editor-button {
      padding-right: 7px;
      padding-left: 7px;
      border-radius: 5px;
      font-size: 18px; }
    body #kaybol .editor-button:hover {
      border: 1px solid #fff200; }
    body #kaybol .editor-button:active {
      background-color: #fff200; }
    body #kaybol .editor-button::selection {
      background-color: #fff200; }
    body #kaybol .textstil {
      width: 72px;
      height: 35px;
      padding: 2px;
      border-radius: 5px;
      font-size: 18px; }
    body #kaybol .btnedit {
      margin-left: 5px;
      margin-left: 5px; }
    body #kaybol .editor {
      font-size: 18px;
      width: auto;
      height: auto; }
    body #kaybol .fontedit {
      width: auto;
      height: 35px;
      padding: 2px;
      border-radius: 5px;
      font-size: 18px; }
    body #kaybol .menuxls {
      border: 1px solid #000;
      padding-left: 2px;
      padding: 5px; }
      body #kaybol .menuxls ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none; }
      body #kaybol .menuxls li {
        float: left;
        padding: 2px; }
  body #edit {
    border: 1px solid #000;
    display: inline-flex;
    width: 100%;
    border-top: 0px;
    padding: 5px; }
  body #editor {
    width: 60%;
    height: 100%;
    padding: 10px;
    font-size: 15px; }
  body .resize-drag {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 140px;
    top: 50px; }
  body .resize-drag:hover, body .resize-drag:focus, body .resize-drag:active {
    border-radius: 8px;
    border: 2px dashed rgba(0, 0, 0, 0.2); }
  body .resize-drag:after {
    box-shadow: 0 0 0 0.2rem #fdf0094f; }

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative; }
  .btn-4 span {
    z-index: 20; }
  .btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10; }

.bubiryerdekia {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none; }
  .bubiryerdekia:hover {
    background: white;
    color: #E1332D; }

.bbtttnn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
  @media (min-width: 600px) {
    .bbtttnn {
      margin: 0 1em 2em; } }
  .bbtttnn:hover {
    text-decoration: none; }

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.dialog {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  pointer-events: none; }

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden; }

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto; }

.dialog__content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  padding: 4em;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0; }

.dialog--open .dialog__content {
  pointer-events: auto; }

/* Content */
.dialog h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0; }

.dialog--open .dialog__overlay {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.dialog--close .dialog__overlay {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.dialog__content {
  padding: 0;
  background: transparent; }

.dialog.dialog--open .dialog__content {
  opacity: 1; }

.morph-shape {
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  z-index: -1; }

.morph-shape svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1680; }

.dialog--open .morph-shape svg rect {
  -webkit-animation: anim-dash 0.6s forwards;
  animation: anim-dash 0.6s forwards; }

.dialog-inner {
  opacity: 0;
  background: #fff; }

.dialog--open .dialog-inner {
  padding: 4em;
  opacity: 1;
  -webkit-transition: opacity 0.85s 0.35s;
  transition: opacity 0.85s 0.35s; }

.dialog.dialog--open h2 {
  -webkit-animation: anim-elem-1 0.7s ease-out both;
  animation: anim-elem-1 0.7s ease-out both; }

.dialog.dialog--open button {
  -webkit-animation: anim-elem-2 0.7s ease-out both;
  animation: anim-elem-2 0.7s ease-out both; }

@keyframes anim-dash {
  0% {
    stroke-dashoffset: 1680; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes anim-dash {
  0% {
    stroke-dashoffset: 1680; }
  100% {
    stroke-dashoffset: 0; } }
/* Inner elements animations */
@-webkit-keyframes anim-elem-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes anim-elem-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes anim-elem-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes anim-elem-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=denemestildosyas%C4%B1.css.map */
